@import "../../theme/styles.scss";

.signup-container {
    background: $color-white;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
}

.img-container {
    display: flex;
    flex: 0.5;
    background: $color-white;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner-container {
    display: flex;
    flex: 0.5;
    flex-wrap: nowrap;
    background: $color-white;
    border-left: 2px solid $color-gray;
    justify-content: center;
}

form {
    .form-group {
        margin-bottom: 0px;
        margin-top: 0.5rem;
        .form-control {
            display: block;
            width: 100%;
            height:1.75rem;
            padding: 0 0.5rem;
            font-size: 1rem;
            font-weight: 400;
        }
        > label{
            display: inline;
        }
    }
   
    >h3 {
        font-family: monospace;
        text-align: center;
        margin: 0.5rem 0 !important;
        letter-spacing: 7px
    }
    .form-check {
        position: relative;
        display: flex;
        padding-left: 1.25rem;
        > label {
            margin-left: 10px;
        }
    }
}
.signup {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 5vh 10vw;
}


.btn {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0px;
    width: 100%;
}

label {
    display: inline;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.form-group {
    margin-bottom: 1rem;
    flex: 0.48;
}


    