$color-primary: #7A77E8;
$color-secondary: #43425D;

$color-gray: #E2DEDE;
$color-black: black;
$color-white: white;

$color-text: #CC000000;
$color-text-title: #7A77E8;
$color-text-id: #F5BA46;
$color-text-total: #FF991F;
$color-text-week: #286DE8; 
$color-active: #3DC47E;
$color-inactive: #FB8A8ADE;
$color-navbar: #43425D;
$color-shadow: #888888